* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul li {
  display: flex;
  max-width: 300px;
  background-color: grey;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 10px;
}

ul li div:first-child {
  background-color: white;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.modal {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(110, 110, 110, 0.8);
}

form {
  width: 700px;
  height: fit-content;
  padding-block: 1.5rem;
  padding-inline: 0.5rem;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form button {
  width: fit-content;
  margin: auto;
}

.field input,
.field select {
  height: 35px;
  border-radius: 10px;
  outline: none;
  padding-inline: 0.2rem;
}

.field label {
  text-transform: capitalize;
}

.error-name,
.error-role {
  color: red;
}

.is-hidden {
  opacity: 0;
  z-index: -100;
}
